<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <section th:object="${member}">
            <dl>
                <dt th:text="#{member.userNo}"></dt>
                <dd th:text="*{userNo}"></dd>
            </dl>
            <dl>
                <dt th:text="#{member.userId}"></dt>
                <dd th:text="*{userId}"></dd>
            </dl>
            <dl>
                <dt th:text="#{member.userNm}"></dt>
                <dd th:text="*{userNm}"></dd>
            </dl>

            <dl>
                <dt th:text="#{member.regDt}"></dt>
                <dd th:text="*{regDt}"></dd>
            </dl>
        </section>
    </body>
</html>