<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>회원가입</title>
    </head>
    <body>
        <h1>회원가입</h1>
        <form method="post" th:action="@{/member/join}" th:object="${joinForm}">
            <dl>
                <dt>아이디</dt>
                <dd>
                    <input type="text" name="userId">
                </dd>
            </dl>
            <dl>
                <dt>회원명</dt>
                <dd>
                    <input type="text" name="userNm">
                </dd>
            </dl>
            <dl>
                <dt>비밀번호</dt>
                <dd>
                    <input type="password" name="userPw">
                </dd>
            </dl>
            <dl>
                <dt>비밀번호 확인</dt>
                <dd>
                    <input type="password" name="userPwRe">
                </dd>
            </dl>
            <dl>
                <dt>이메일</dt>
                <dd>
                    <input type="text" name="email">
                </dd>
            </dl>
            <dl>
                <dt>휴대전화번호</dt>
                <dd>
                    <input type="text" name="mobile">
                </dd>
            </dl>
            <div>
                <input type="checkbox" name="agree" value="true" id="agree">
                <label for="agree">회원가입 약관에 동의합니다.</label>
            </div>
            <button type="submit">가입하기</button>
        </form>
    </body>
</html>