<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="tabs">
            <a href="#" class="tab" th:classappend="${menuCode == 'member'} ? 'on'">회원관리</a>
        </div>
        <table border="1">
            <thead>
                <tr>
                    <th>순번</th>
                    <th>회원번호</th>
                    <th>아이디</th>
                    <th>회원명</th>
                    <th>가입일시</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member, status : ${members}" th:object="${member}">
                    <!--<td th:text="${status.index}"></td>-->
                    <!--
                    <td>
                        <th:block th:text="${status.count}"></th:block>
                        <th:block th:text="${status.first}"></th:block>
                        <th:block th:text="${status.last}"></th:block>
                    </td>-->
                    <!--
                    <td th:if="${status.odd}">홀수</td>
                    <td th:unless="${status.odd}">짝수</td>
                    -->
                    <!--<td th:if="${status.even}">짝수</td>-->
                    <td th:switch="${status.odd}">
                        <th:block th:case="true">홀수</th:block>
                        <th:block th:case="false">짝수</th:block>
                    </td>
                    <td th:text="*{userNo}"></td>
                    <td th:text="*{userId}"></td>
                    <td th:text="*{userNm}"></td>
                    <td th:text="*{#temporals.format(regDt, 'yyyy.MM.dd')}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>