<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <resultMap id="userMap" type="models.Users">
        <result column="userNo" property="userNo" />
        <result column="userId" property="userId" />
        <result column="userPw" property="userPw" />
        <result column="userNm" property="userNm" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="regDt" property="regDt" />
        <result column="modDt" property="modDt" />
    </resultMap>
    <insert id="insertUser" parameterType="models.Users">
        INSERT INTO users (userId, userPw, userNm, email, mobile)
            VALUES (#{userId}, #{userPw}, #{userNm}, #{email}, #{mobile});
    </insert>
</mapper>